<div class="h-screen flex justify-center items-center">
  <div class="flex flex-col border border-black p-2 px-5 items-center">
    <h1 class="text-xl font-bold">Welcome to XYZ</h1>
    <h4 class="text-lg font-semibold">Create an account or Login</h4>
    <a class="bg-indigo-500 p-2 text-white mb-2" href="/users/register">
      Register
    </a>
    <a class="bg-indigo-500 p-2 text-white" href="/users/login"> Login </a>
  </div>
</div>