<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login </title>
</head>
<body>
    <div class="h-screen flex justify-center items-center">
    <div class=" flex flex-col items-center p-2  border border-black">
        <h4 class="font-semibold text-lg">Login</h4>
        <form action="/users/login" method="POST">
            <div class="flex gap-2 justify-between mb-2 items-center">
               <label for="username">Username</label>
               <input type="name" name="username" class="border  border-slate-500 rounded-md" placeholder="example@email.com">
            </div>
            <div class="flex gap-2 justify-between mb-2 items-center">
                <label for="password">Password</label>
                <input type="password" name="password" class="border border-slate-500 rounded-md" placeholder="Enter Password">
            </div>
            <button type="submit" class="bg-indigo-500 p-2 text-white rounded-lg">Login</button>

        </form>
        <p class="mt-4">Don't have an account?<a class="underline" href="/users/register">Register</a></p>
    </div>
</body>
</html>